<!-- ABOUT US STARTS -->    
<section class="home-intro">
    <div class="container">
        <div class="row">
            
            {% for item in services %}
            <div class="col-12 col-lg-4">
                <!-- Calcul automatique du délai : 200, 300, 400... -->
                <div class="service-block animated" data-animation="fadeInUp" data-animation-delay="{{ forloop.counter|add:1 }}00">
                    <div class="pt-1 pb-5">
                        <div class="info">
                            <div class="icon">
                                <!-- Affiche l'image uploadée -->
                                {% if item.icon %}
                                    <img src="{{ item.icon.url }}" alt="{{ item.titre }}">
                                {% endif %}
                            </div>
                            <div class="text">
                                <h4>{{ item.titre }}</h4>
                                <div>{{ item.description }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% empty %}
            <!-- Ce message s'affiche si vous n'avez rien mis dans l'admin -->
            <p>Aucun service configuré pour le moment.</p>
            {% endfor %}

        </div>
    </div>
</section>
<!-- /. ABOUT US ENDS -->